#slider {
    position: relative;
}
.info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: auto;
}
p.p-info_ctn {
    position: relative;
    top: -3rem;
    text-align: right;
    padding: 0;
    width: 380px;
    @include bannerDescribeBold;
}
.sld-info_ctn {
    // height: 197px;
    position: relative;
    top: -2rem;
    // right: 0;
    z-index: 1;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    // padding: 0 1rem;
    min-height: 135px;

    .icon-position {
        width: 135px;
        height: 135px;
        z-index: 1000;
        .locationP1 {
            position: absolute;
            width: 119px;
            height: 135px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}
