#slider {
    position: relative;
    min-height: 100dvh;
}
.info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin: auto;
}
.sld-info_ctn {
    width: calc(100% - 0px) !important;
    height: fit-content;
    flex-shrink: 0;
    position: relative;
    top: -13rem;
    z-index: 1;
    display: inline-flex;
    flex-flow: column-reverse nowrap;
    align-items: flex-end;
    gap: 0.5rem;
    min-height: 135px;

    p {
        text-align: right;
        padding: 0 2rem 0.5rem 2rem;
        width: 100%;
        @include bannerDescribeBold;
    }
    .icon-position {
        width: 135px;
        height: 135px;
        z-index: 1000;
        img {
            position: absolute;
            width: 119px;
            height: 135px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }
}
