*,
menu,
ol,
ul {
    padding: 0;
    margin: 0;
}
*,
body,
menu,
ol,
ul {
    margin: 0;
}
a,
hr {
    color: inherit;
}
table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}
* {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
:after,
:before {
    --tw-content: "";
}
:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
hr {
    height: 0;
    border-top-width: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
}
[role="button"],
button {
    cursor: pointer;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
menu,
ol,
ul {
    list-style: none;
}
textarea {
    resize: vertical;
}
:root {
    --background: #ffffff;
    --foreground: #171717;
}

body,
html {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    line-height: inherit;
    /* background: #fff; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--montserrat);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
